*{
    margin: 0;
    padding: 0;
}
 /* Extra small devices (portrait phones, less than 576px) */
@media(max-width: 394px){
  .contact{
    margin-top: 1326px;
  }

  .contact_boxs{
    margin-top: 20px;
  }

  .cards{
    margin-top: 190px;
  }

  .cards .social_icon{
    display: none;
  }

  .hc-service-boxx {
    position: absolute;
    top: 75px;
    transition: .3s;
    width: 84%;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: white;
    border-radius: 11px;
  }   


  .banner .container{
  padding-top: 0px;
  z-index: 2;
  }

  .banner_title:after{
    position: absolute;
    content: "";
    top:15px;
    right:20%;
    height: 2px;
    width: 10%;
    background-color: #1ABC9C;
  }

  .hc-service-box1,.hc-service-box3,.hc-service-box2{
    margin-top: 30px;
  }

  .achivement_card{
    margin-top: 30px;
  }

  /* Blog */
  .cards_first_item{
    margin-top: 4px;
  }
  .cards{
    margin-top:58px;
  }

  .cards .items_one h6{
    font-size: 14px;
  }
  .cards .items_one h5{
   
    font-size: 16px;
  }

  .date{
    margin: 0;
    padding: 0;
  }
  .read_more a{
    font-size: 14px;
  }

  .footer .office_add:after{
    position: absolute;
    content: "";
    height: 0px;
    width: 0px;
    background-color: white;
    top: 10%;
    right: 0;
  }

}
@media(min-width: 395px) and (max-width: 575.98px)  { 

    .banner:after{
        display: none;
    }

    .banner_img{
        margin-top: 1px;
    }

    .banner_shadow{
        position: absolute;
        top: 10%;
        background-color: #ffffff;
        height: 100%;
        width: 98%;
        left: 50%;
        z-index: 1;
        opacity: 0.9;
        transform: translate(-50%, 0);
        box-shadow: 100px #682222;
        border: 10vw solid rgb(217, 223, 217);
        opacity: .3;
        border-radius: 6px;
      }

      .banner_shadow:after{
        position: absolute;
        content: "";
        top: 0px;
        opacity: 0;
        border: 20px solid rgb(170, 86, 86);        
      }

      .banner_title:after{
        position: absolute;
        content: "";
        top:15px;
        right:20%;
        height: 2px;
        width: 10%;
        background-color: #1ABC9C;
      }

      .banner .container{
        padding-top: 0px;
        z-index: 2;
      }

      .hc-service-box1,.hc-service-box3,.hc-service-box2{
        margin-top: 30px;
      }

      .about_us .about_shape span{
        position: absolute;
        width: 170px;
        height: 170px;
        background: radial-gradient(#1ABC9C 2px, transparent 0px);
        top: 10%;
        left: 65%;
        z-index: -1;
        transform: rotate(244deg);
        opacity: .4;
        background-size: 9px 9px;
        opacity: 0;
    }

    .achivement_card{
      margin-top: 30px;
    }

    .contact{
      margin-top: 1351px;
    }

    .contact_boxs{
      margin-top: 20px;
    }

    /* Blog */
  .cards_first_item{
    margin-top: 4px !important;
  }

  .cards{
    margin-top: 81px;
  }

  .hc-service-boxx {
    position: absolute;
    top: 67%;
    transition: .3s;
    width: 84%;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: white;
    border-radius: 11px;
  }

.footer .office_add:after{
  position: absolute;
  content: "";
  height: 0px;
  width: 0px;
  background-color: white;
  top: 10%;
  right: 0;
  }

}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .banner_shadow{
        position: absolute;
        top: 10%;
        background-color: #ffffff;
        height: 100%;
        width: 98%;
        left: 50%;
        z-index: 1;
        opacity: 0.9;
        transform: translate(-50%, 0);
        box-shadow: 100px #682222;
        border: 10vw solid rgb(217, 223, 217);
        opacity: .3;
        border-radius: 6px;
      }

      .banner_shadow:after{
        position: absolute;
        content: "";
        top: 0px;
        opacity: 0;
        border: 20px solid rgb(170, 86, 86);
      }
      .banner:after{
        display: none;
    }

    .banner_img{
        margin-top: 1px;
    }

    .banner_title:after{
        position: absolute;
        content: "";
        top:15px;
        right:50%;
        height: 2px;
        width: 70px;
        background-color: #1ABC9C;
      }

      .banner .container{
        padding-top: 50px;
        z-index: 2;
      }
      .hc-service-box1,.hc-service-box3,.hc-service-box2{
        margin-top: 30px;
      }

      .about_us .about_shape span{
        position: absolute;
        width: 170px;
        height: 170px;
        background: radial-gradient(#1ABC9C 2px, transparent 0px);
        top: 10%;
        left: 65%;
        z-index: -1;
        transform: rotate(244deg);
        opacity: .4;
        background-size: 9px 9px;
        opacity: 0;
    }

    .achivement_card{
      margin-top: 30px;
    }

    .contact{
      margin-top: 1361px;
    }

    .contact_boxs{
      margin-top: 20px;
    }

    .cards{
      margin-top: 52px;
    }

    .hc-service-boxx {
      position: absolute;
      top: 74%;
      transition: .3s;
      width: 84%;
      margin: 0 auto;
      left: 50%;
      transform: translate(-50%, 0);
      background-color: white;
      border-radius: 11px;
  }
  .footer .office_add:after{
    position: absolute;
    content: "";
    height: 0px;
    width: 0px;
    background-color: white;
    top: 10%;
    right: 0;
  }
 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .top_right{
        margin-top: 10px;
    }

    .sm_menu{
        float: right;
    }

    .top_left{
        float: left;
    }
    .top_right{
        float: right;
    }

    .logo{
        float: left;
      }

      .banner_shadow{
        position: absolute;
        top: 10%;
        background-color: #ffffff;
        height: 100%;
        width: 98%;
        left: 50%;
        z-index: 1;
        opacity: 0.9;
        transform: translate(-50%, 0);
        box-shadow: 100px #682222;
        border: 10vw solid rgb(217, 223, 217);
        opacity: .3;
        border-radius: 6px;
      }

      .banner_shadow:after{
        position: absolute;
        content: "";
        top: 0px;
        opacity: 0;
        border: 20px solid rgb(170, 86, 86);
      }
      .banner:after{
        display: none;
    }

    .banner_img{
        margin-top: 1px;
    }

    .banner_title:after{
        position: absolute;
        content: "";
        top:15px;
        right:62%;
        height: 2px;
        width: 70px;
        background-color: #1ABC9C;
      }

      .banner .container{
        padding-top: 50px;
        z-index: 2;
      }
      .hc-service-box1,.hc-service-box3{
        margin-top: 40px;
      }
      .about_us .about_shape span{
        position: absolute;
        width: 170px;
        height: 170px;
        background: radial-gradient(#1ABC9C 2px, transparent 0px);
        top: 10%;
        left: 65%;
        z-index: -1;
        transform: rotate(244deg);
        opacity: .4;
        background-size: 9px 9px;
    }

    .achivement_card{
      margin-top: 30px;
    }
    .contact{
      margin-top: 643px;
    }

    .contact_boxs{
      margin-top: 20px;
    }

    .cards_last{
      margin-top: 78px;
    }


 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .logo{
        float: left;
      }
    .top_right{
        float: right;
    }

    .top_left{
     float: left;
    }
      .sm_menu{
        float: right;
    }

    .banner_title:after{
    position: absolute;
    content: "";
    top:15px;
    right:29%;
    height: 2px;
    width: 70px;
    background-color: #1ABC9C;
    }

    .about_us .image img{
      margin-right: 50px;
    }

    .about_content{
      margin-top: 15%;
      margin-left: 14%;
    }

    /* .cards .social_icon{
      
    } */
    .testimonials{
      margin-top: 131px;
    }
 }

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .logo{
        float: left;
      }
    .top_left{
        float: left !important;
    }
    .sm_menu{
        float: right;
    }
    .top_right{
    float: right;
    }
    .about_content{
      margin-top: 12%;
    }
 }
