*{
    margin: 0;
    padding: 0;
}


.top_nav{
    background-color: #1ABC9C;
}
.top_nav h5{
    font-size: 17px;
}
.top_nav i{
    background-color: #FD9678;
    font-size: 13px;
}

.form_title{
    background-color: #FD9678;
    font-size: 15px;
    color:white;
}
.head_button .btn,.start_button .btn{
    background-color:#FD9678 !important;
    border-radius: 25px;
    border:1px solid #f88e6e;
    font-size: 18px;
    color: white;
    margin-top: 4px;
    padding: 8px 20px;
}
.start_button .btn{
    font-weight: 600;
}
.appointment .modal-body{
    /* margin:0 auto; */
}
.appointment .modal-body input{
    border-radius: 25px;
    border:1px solid rgb(212, 210, 210);
}
.contact_box input,.contact_box textarea{
    width: 95%;
    padding:12px;
    margin: 3%;

}
.contact_box textarea{
    border-radius: 10px;
    border:1px solid rgb(212, 210, 210);
    height: 140px;
}
.contact_box button{
    margin-left: 3%;
    border-radius: 20px;
    padding: 8px 40px;
    border:1px solid #f88e6e;
    background-color: #FD9678;
    font-weight: 500;
    font-size: 18px;
    color: white;
}

.toggle_btn{
    margin-top: 7px;
    margin-right: 3px;
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    overflow: hidden;
}
.toggle_btn span{
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: #1ABC9C;
    border-radius: 4px;
    transition: 0.5s;
    left:17px;
}
.toggle_btn span:nth-child(1){
    transform: translateY(-8px);
    width: 25px;
    background-color: rgb(27, 27, 36);
    left:12px;
}

.toggle_btn span:nth-child(2){
    transform: translateY(8px);
    width: 25px;
    left:12px;
    background-color: rgb(27, 27, 36);
}
.toggle_btn.active span:nth-child(3){
    transform: translateX(30px);
}

.toggle_btn.active span:nth-child(1){
    width: 30px;
    transform: translateY(0px) rotate(45deg);
}

.toggle_btn.active span:nth-child(2){
    width: 30px;
    transform: translateY(0px) rotate(315deg);
}
.main_menu ul{
    margin-top: 2.5%;
    list-style-type: none;
}
.main_menu ul li{
    display: inline-block;
    list-style-type: none;
}
.main_menu ul li a{
    padding: 5px 15px;
    color: rgb(61, 59, 59);
    font-size: 17px;
    text-decoration: none;
    font-weight: 400;
    transition: 0.3s;
}
.main_menu ul li a:hover{
    color: #FD9678;
    transition: 0.3s;
}
/* .main_menu .dropdown-menu li{
    display: block;
} */

.dropbtn {
    color: rgb(61, 59, 59);
    font-size: 17px;
    font-weight: 400;
    font-size: 17px;
    border: none;
    background-color: white;
    transition: .3s;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    background-color: red !important;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    background-color: white;
    transition: .3s;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: start;
  }
  
  .dropdown-content a:hover {color:#f88e6e;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {color: #FD9678;}

  /* Banner */
  /* .banner{
    margin: ;
  } */
  .banner_title{
    color: #1ABC9C;
    position: relative;
  }

  .banner_title:after{
    position: absolute;
    content: "";
    top:15px;
    right: 40%;
    height: 2px;
    width: 70px;
    background-color: #1ABC9C;
  }
  .banner h1{
    font-size: 50px;
    font-weight: 800;
  }
  .banner p{
    border-left: 2px solid #f88e6e;
  }

  /* .left_banner{
    position: relative;
    z-index: 2;
  } */
  .banner{
    position: relative;
    overflow: hidden;
  }
  .left_banner{
    z-index: 2;
  }

  .banner:before{
    position: absolute;
    content: "";
    bottom: -20px;
    background: #fd9678;
    border-radius: 100%;
    opacity: 0.1;
    height: 300px;
    width: 300px;
    left:-120px;
    border-radius: 100%;
    z-index: 0;
  }
  .banner_img{
    margin-top: 19%;
    position: relative;
  }
  .banner_img img{
    z-index: 2;
    position: relative;
  }

  .banner .container{
    padding-top: 100px;
    z-index: 2;
  }

  .banner:after{
    position: absolute;
    content: '';
    right: -200px;
    top: -100px;
    bottom: -200px;
    background: #1abc9c;
    max-width: 765px;
    width: 100%;
    z-index: 0;
    transform: rotate(15deg);
  }

  .banner_shape span{
    position: absolute;
    width: 235px;
    height: 235px;
    background: radial-gradient(#ffffff 2px, transparent 0px);
    top: 28%;
    right: 9%;
    z-index: 1;
    transform: rotate(256deg);
    opacity: .4;
    background-size: 20px 20px;
  }
  .banner_shadow{
    position: absolute;
    top: 10%;
    background-color: #ffffff;
    height: 161px;
    width: 307px;
    left: 50%;
    z-index: 1;
    opacity: 0.9;
    transform: translate(-50%, 0);
  }

  .banner_shadow:after{
    position: absolute;
    content: "";
    top: -35px;
    left: 0px;
    height: 35px;
    width: 100%;
    background-color: white;
    opacity: .6;
    box-shadow: 1px -6px 14px white;
  }

  

 

