*{
    margin: 0;
    padding: 0;
}


.top_nav{
    background-color: #1ABC9C;
}
.top_nav h5{
    font-size: 17px;
}
.top_nav i{
    background-color: #FD9678;
    font-size: 13px;
}

.form_title{
    background-color: #FD9678;
    font-size: 15px;
    color:white;
}
.head_button .btn,.start_button .btn{
    background-color:#FD9678 !important;
    border-radius: 25px;
    border:1px solid #f88e6e;
    font-size: 18px;
    color: white;
    margin-top: 4px;
    padding: 8px 20px;
    transition: .4s;
    box-shadow: 0 0 0 3px #faeae5;
}

.head_button .btn:hover,.start_button .btn:hover{
  background-color: #1ABC9C !important;
  transform: scale(1.1);
  transition: .4s;
  border:1px solid #1ABC9C;
  box-shadow: 0 0 0 3px #bde6dd;
}

.start_button .btn{
    font-weight: 600;
}
.appointment .modal-body{
    /* margin:0 auto; */
}
/* .appointment .modal-body input{
    border-radius: 25px;
    border:1px solid rgb(212, 210, 210);
} */
.contact_box input,.contact_box textarea{
    width: 95%;
    padding:12px;
    margin: 3%;
    border-radius: 25px;
    border:1px solid rgb(212, 210, 210);
}
.contact_box textarea{
    border-radius: 10px;
    border:1px solid rgb(212, 210, 210);
    height: 140px;
}
.contact_box button{
    margin-left: 3%;
    border-radius: 20px;
    padding: 8px 40px;
    border:1px solid #f88e6e;
    background-color: #FD9678;
    font-weight: 500;
    font-size: 18px;
    color: white;
}

.toggle_btn{
    margin-top: 7px;
    margin-right: 3px;
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    overflow: hidden;
}
.toggle_btn span{
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: #1ABC9C;
    border-radius: 4px;
    transition: 0.5s;
    left:17px;
}
.toggle_btn span:nth-child(1){
    transform: translateY(-8px);
    width: 25px;
    background-color: rgb(27, 27, 36);
    left:12px;
}

.toggle_btn span:nth-child(2){
    transform: translateY(8px);
    width: 25px;
    left:12px;
    background-color: rgb(27, 27, 36);
}
.toggle_btn.active span:nth-child(3){
    transform: translateX(30px);
}

.toggle_btn.active span:nth-child(1){
    width: 30px;
    transform: translateY(0px) rotate(45deg);
}

.toggle_btn.active span:nth-child(2){
    width: 30px;
    transform: translateY(0px) rotate(315deg);
}
.main_menu ul{
    margin-top: 2.5%;
    list-style-type: none;
}
.main_menu ul li{
    display: inline-block;
    list-style-type: none;
}
.main_menu ul li a{
    padding: 5px 15px;
    color: rgb(61, 59, 59);
    font-size: 17px;
    text-decoration: none;
    font-weight: 400;
    transition: 0.3s;
}
.main_menu ul li a:hover,.menu_canvas ul li a:hover{
    color: #FD9678;
    transition: 0.3s;
}
/* .main_menu .dropdown-menu li{
    display: block;
} */

.dropbtn {
    color: rgb(61, 59, 59);
    font-size: 17px;
    font-weight: 400;
    font-size: 17px;
    border: none;
    background-color: white;
    transition: .3s;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    background-color: red !important;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    background-color: white;
    transition: .3s;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: start;
  }
  
  .dropdown-content a:hover {color:#f88e6e;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {color: #FD9678;}

  /* Banner */
  /* .banner{
    margin: ;
  } */
  .banner_title{
    color: #1ABC9C;
    position: relative;
  }

  .banner_title:after{
    position: absolute;
    content: "";
    top:15px;
    right: 40%;
    height: 2px;
    width: 70px;
    background-color: #1ABC9C;
  }
  .banner h1{
    font-size: 50px;
    font-weight: 800;
  }
  .banner p{
    border-left: 2px solid #f88e6e;
  }

  /* .left_banner{
    position: relative;
    z-index: 2;
  } */
  .banner{
    position: relative;
    overflow: hidden;
  }
  .left_banner{
    z-index: 2;
  }

  .banner:before{
    position: absolute;
    content: "";
    bottom: -20px;
    background: #fd9678;
    border-radius: 100%;
    opacity: 0.1;
    height: 300px;
    width: 300px;
    left:-120px;
    border-radius: 100%;
    z-index: 0;
  }
  .banner_img{
    margin-top: 19%;
    position: relative;
  }
  .banner_img img{
    z-index: 2;
    position: relative;
  }

  .banner .container{
    padding-top: 100px;
    z-index: 2;
  }

  .banner:after{
    position: absolute;
    content: '';
    right: -200px;
    top: -100px;
    bottom: -200px;
    background: #1abc9c;
    max-width: 765px;
    width: 100%;
    z-index: 0;
    transform: rotate(15deg);
  }

  .banner_shape span{
    position: absolute;
    width: 235px;
    height: 235px;
    background: radial-gradient(#ffffff 2px, transparent 0px);
    top: 28%;
    right: 9%;
    z-index: 1;
    transform: rotate(256deg);
    opacity: .4;
    background-size: 20px 20px;
  }
  .banner_shadow{
    position: absolute;
    top: 10%;
    background-color: #ffffff;
    height: 161px;
    width: 307px;
    left: 50%;
    z-index: 1;
    opacity: 0.9;
    transform: translate(-50%, 0);
  }

  .banner_shadow:after{
    position: absolute;
    content: "";
    top: -35px;
    left: 0px;
    height: 35px;
    width: 100%;
    background-color: white;
    opacity: .6;
    box-shadow: 1px -6px 14px white;
  }

  .menu_canvas{
    margin:0;
    padding: 0;
  }
  .menu_canvas ul li{
    list-style-type: none;
    border-bottom:1px solid rgb(233, 233, 233);
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .menu_canvas ul li a{
    text-decoration: none;
    margin: 0 !important;
    padding: 0 !important;
    color: rgb(61, 59, 59);
    font-size: 17px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
  }
  .offcanvas-header h5{
    color: #1abc9c;
  }

  .services{
    margin-top: 80px;
  }
  .items_one,.items_two,.items_three,.items_four{
    border-radius: 10px;
  }
  .services .items_one .images{
    padding-top: 14%;
    margin: 0 auto;
  }
  .services .items_one .images img{
    background-color: #4FCECD;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 0 5px #d6ebe7;
  }
  .services .items_two .images{
    padding-top: 14%;
    margin: 0 auto;
  }
  .services .items_two .images img{
    background-color: #FA9477;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 0 5px #eed7d2;
  }

  .services .items_three .images{
    padding-top: 14%;
    margin: 0 auto;
  }
  .services .items_three .images img{
    background-color: #5AA2EC;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 0 5px #E6F1FC;
  }

  .services .items_four .images{
    padding-top: 14%;
    margin: 0 auto;
  }
  .services .items_four .images img{
    background-color: #FBBB1C;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 0 5px #FEF5DD;
  }
  .items_one h3,.items_two h3,.items_three h3,.items_four h3{
    color: rgb(59, 58, 58);
  }
  .items_one p,.items_two p,.items_three p,.items_four p{
    margin-top: 15px;
    color: rgb(39, 38, 38);
    font-size: 17px;
    font-weight: 400;
    padding:17%;
    padding-top: 4px;
    padding-bottom: 10px;
  }
  .hc-service-box,.hc-service-box1,.hc-service-box3,.hc-service-box2{
    transition: .3s;
  }
  .hc-service-box:hover{
    border-radius: 16px;
    transition: .3s;
    box-shadow: 3px 3px 0 5px #D6EBE7;
  }
  .hc-service-box1:hover{
    border-radius: 16px;
    transition: .3s;
    box-shadow: 3px 3px 0 5px rgb(253 150 120 / 15%);
  }
  .hc-service-box2:hover{
    border-radius: 16px;
    transition: .3s;
    box-shadow: 3px 3px 0 5px #E6F1FC;
  }
  .hc-service-box3:hover{
    border-radius: 16px;
    transition: .3s;
    box-shadow: 3px 3px 0 5px #FEF5DD;
  }



  /* About Us */
  .about_us{
    background-color: #FFFAF9;
    margin-top: 70px;
  }
  .about_us .image{
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .about_us .image img{
    border-radius: 60% 10% 70% 60%/170% 80% 32% 40%;
  }
  .about_title{
    font-weight: 700;
    font-size: 21px;
    color: #1ABA9A;
  }
  .about_content h1{
    font-weight: 900;
  }
  .nav-pills .nav-link{
    font-weight: 700;
    font-size: 18px;
    position: relative;
    color:rgb(39, 39, 39);
  }
  .nav-pills .nav-link.active:after{
    position: absolute;
    content: "";
    border:1px solid rgb(219, 117, 117);
    width: 60%;
    margin-left: 15px;
    bottom:0;
    left:0;
  }

  .about_us{
    position: relative;
    z-index: 2;
  }
  .about_us .image img{
    z-index: 2;
    
  }
  .about_us .about_shape span{
    position: absolute;
    width: 145px;
    height: 145px;
    background: radial-gradient(#e17979 2px, transparent 0px);
    top: 65%;
    left: 13%;
    z-index: -1;
    transform: rotate(244deg);
    opacity: .4;
    background-size: 8px 8px;
  }
  /* Filter */
  
.doc_category{
  margin-top: 70px;
}

.filter-button
{
  font-size: 15px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  text-align: center;
  color: #393a39;
  margin-bottom: 30px;
  border-radius: 23px;
  padding: 6px 24px 6px 24px;
}
.filter-button:hover
{
  font-size: 15px;
  border: 1px solid #e17979;
  border-radius: 5px;
  text-align: center;
  color: #e17979;
  margin-bottom: 30px;
  border-radius: 23px;
  padding: 6px 24px 6px 24px;

}
.btn-default:active .filter-button:active
{
    color: #e17979 !important;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    position: relative;
    text-align: center;
    margin-bottom: 30px;
    /* margin-right: 10px; */
}
.card_product{
  border-radius: 10px;
}
.image_card img{
  border:2px solid rgb(255, 255, 255);
}

.image_card p{
  font-size: 18px;
  color: rgb(61, 61, 61);
  margin:20px 40px;
  font-weight: 400;
  border-bottom: 1px solid rgb(238, 232, 232);
}

.image_card h5{
  color: #1ABC9C;
}
.card_product .social_icon i{
  color:rgb(46, 46, 46);
  border-radius: 100%;
  border:1px solid rgb(238, 232, 232);
  padding:8px;
  margin:3px;
  transition: .3s;
}
.cards .social_icon i{
  color:rgb(46, 46, 46);
  border-radius: 100%;
  border:1px solid rgb(238, 232, 232);
  padding:8px;
  transition: .3s;
}


.card_product .social_icon .fa-facebook-f,.cards .social_icon .fa-facebook-f{
  padding: 8px 11px;
  color:#1877F2;
}

.card_product .social_icon .fa-twitter,.cards .social_icon .fa-twitter{
  color:#1DA1F2;
}

.card_product .social_icon .fa-phone,.cards .social_icon .fa-phone{
  color:rgb(106, 204, 191);
}

.card_product .social_icon i:hover,.cards .social_icon i:hover{
  color: #e17979;
  box-shadow: 2px 2px 2px 2px #e17979;
  transition: .3s;
}

.card_product:after{
  position: absolute;
  content: "";
  border: 1px solid #e17979;
  width: 0;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: .4s;
}

.card_product:hover.card_product:after{
  opacity: 1;
  transition: .4s;
  width: 70%;
}

.ratting{
  position: absolute;
  top: 25px;
  left: 11px;
  background-color: #FFEFEB;
  padding: 3px 9px;
  border-radius: 0 13px 13px 0;
}

.ratting i{
  color: #FD9678;
}
.ratting span{
  color: #FD9678;
  font-size: 15px;
}
/* achivement */
.achivement{
  background-color: #1ABC9C;
  margin-top:46px;
  height: 100%;
  min-height: 400px;
  position: relative;
}
.achivement h5{
  margin-top: 70px;
  font-weight: 700;
  font-size: 22px;
}
.achivement h1{
  font-weight: 800;
}
.achivement .chose_items{
  position: absolute;
  bottom: 26%;
  height: 100px;
  width: 100%;
}

/* Counter Apply */
:root{  --main-color:rgb(190, 55, 168) ; }
.counter{
  color: var(--main-color);
  background: var(--main-color);
  font-family: 'Poppins', sans-serif;
  text-align: center;
  width: 195px;
  height: 195px;
  padding: 0 0 20px 20px;
  margin: 0 auto;
  border-radius: 100px 100px;
  position: relative;
  z-index: 1;
}
.counter:before{
  content: "";
  background: #fff;
  width: 100%;
  height: 100%;
  border-radius: 100px 100px;
  box-shadow: 10px 10px 10px rgb(0,0,0,0.1);
  position: absolute;
  top: 0;
  left: 15px;
  z-index: -1;
}
.counter .counter-icon{
  color:#fff;
  background: var(--main-color);
  font-size: 30px;
  line-height: 70px;
  width: 70px;
  height: 70px;
  margin: 0 auto 25px;
  border-radius: 50px;
}
.counter h3{
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 15px;
}
.counter .counter-value{
  font-size: 30px;
  font-weight: 600;
}
.counter.blue{ --main-color: #9200e7; }
.counter.green{ --main-color: #087a3c; }
.counter.orange{ --main-color: #f06e2d; }
@media screen and (max-width:990px){
  .counter{ margin-bottom: 40px; }
}   

.achivement_card{
  border-radius: 5%;
}

.contact{
  margin-top:256px;
}
.contact_title{
  margin-bottom: 16px;
}
.contact_title h5,.blog_header h5{
  font-weight: 700;
  color: #1ABC9C;
}
.contact_title h1,.blog_header h1{
  font-weight: 800;
  color: #323332;
}
.contact_boxs input,.contact_boxs textarea{
  width: 95%;
  padding:12px;
  border-radius: 25px;
  border:1px solid rgb(212, 210, 210);
}
.contact_boxs textarea{
  border-radius: 10px;
  border:1px solid rgb(212, 210, 210);
  height: 140px;
}
.contact_boxs button{
  margin-left: 3%;
  border-radius: 20px;
  padding: 8px 40px;
  border:1px solid #f88e6e;
  background-color: #FD9678;
  font-weight: 500;
  font-size: 18px;
  color: white;
}
.contact_boxs label{
  font-size: 17px;
  font-weight: 500;
  color: #454645;
}

/* Blog */
.blog{
  background-color: #FFFAF9;
  margin-top: 100px;
}

.blog_header{
  margin-top: 80px;
}

.cards{
  position: relative;
}

.cards img{
  border-radius: 12px;
}

.hc-service-boxx{
  position: absolute;
  top: 130px;
  transition: .3s;
  width: 84%;
  margin: 0 auto;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: white;
  border-radius: 11px;
}

.hc-service-boxx:hover{
  border-radius: 11px;
  transition: .3s;
  box-shadow: 3px 3px 0 5px #f3e3de;
}

.cards .date{
  margin-top: 8px;
  padding-bottom: 0px;
}
.read_more a{
  font-size: 17px;
  margin-top: 10px;
  color: #e17979;
  text-decoration: none;
}
.read_more{
  transition:.4s;
  cursor: pointer;
}
.read_more:hover{
  letter-spacing: 3px;
  transition:.4s;
}
.blog_content{
  transition:.4s;
}
.blog_content:hover{
  color:#e17979;
  transition:.4s;
}
.blog_content h5{
  font-size: 21px;
}

/* Testimonial */
.testimonials{
  margin-top: 61px;
}

/* Carosel */
.carousel{
  max-width: 1200px;
  margin: auto;
  padding: 0 30px;
}
.owl-dots{
  text-align: center;
  margin-top: 40px;
}
.owl-dot{
  height: 15px;
  width: 45px;
  margin: 0 5px;
  outline: none;
  border-radius: 14px;
  border: 2px solid #0072bc!important;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}
.owl-dot.active,
.owl-dot:hover{
  background: #0072bc!important;
}
/* Testimonial Card */
.card_body_main{
  margin-top: 40px;
}
.carousel .card{
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
  border: 1px solid rgb(203, 207, 203);
  /* overflow: visible; */
  position: relative;
  transition: .4s;
}

.card:hover{
  border: 1px solid #e17979;
  transition: .4s;
}

.card .slider_image{
  position: absolute;
  top:-30px;
  left: 50%;
  transform: translate(-50%,0);
  width: 80px;
  border:3px solid rgb(247, 243, 243);
  border-radius: 100%;
}
.card .slider_image img{
  border-radius: 100%;
  
}
.card_body_main .card p{
  margin-top: 50px;
}
.card_body_main .card h6{
  color: #e17979;
}
.footer{
  margin-top: 80px;
  background-color: #1ABC9C;
  padding-bottom: 50px;
}
.footer_logo{
  margin-top: 5%;
}
.footer .office_add,footer .office_adds{
  position: relative;
  padding-right: 13px;
}
.footer .office_add:after{
  position: absolute;
  content: "";
  height: 70px;
  width: 1px;
  background-color: white;
  top: 10%;
  right: 0;
}

.footer a{
  text-decoration: none;
  color: white;
  font-size: 17px;
  padding: 4px 0px 4px 0px;
  font-weight: 600;
  transition: .3;
  position: relative;
  padding-left: 20px;
}
.xx:after{
  content: "";
  position: absolute;
  height: 2px;
  background-color: white;
  width: 12px;
  top: 16px;
  left: 0;
}
.footer a:hover{
  color:#3b3939;
  transition: .3s;
}
.footer a:hover.xx:after{
  background-color: #3b3939 !important;
  transition: .3s;
}

